<div class="bootstrap-wrapper">
    <div class="container">

        <div class="row mt20">
            <div class="col-md-6 offset-md-3 ">
                <mat-card>
                    <div class="container text-center mt20">
                        <img class="img" src="../../../assets/changepassword.png" alt="">
                    </div>

                    <h1 class="text-center"> Change Password Here !!</h1>
                    <!-- {{loginData | json}} -->
                    <form (ngSubmit)="changePasswordFormSubmit()" >
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Current Password</mat-label>
                            <input [(ngModel)]="changePasswordData.currentPassword" required type="text" name="currentPassword" matInput placeholder="enter the Username">
                            <mat-hint>Current Password*</mat-hint>
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>New Password</mat-label>
                            <input [(ngModel)]="changePasswordData.newPassword" required type="text" name="newPassword" matInput placeholder="enter the valid password">
                        </mat-form-field>
                        <div class="container text-center">
                            <button class="ml20" type="submit" mat-raised-button color="primary">Submit</button>
                            <button class="ml20" mat-raised-button color="accent">Reset</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>
