

<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-10">
                <div class="col-md-12">
                    <div class="image">
                        <h1>Welcome to Normal User Dashboard</h1>
                    </div>
                    
                    <!-- <app-profile></app-profile> -->
                </div>
            </div>
        </div>
    </div>
</div>

