<div class="bootstrap-wrapper">
    <div class="container">

        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                <img src="../../../assets/bank.png" alt="">
            </div>

                <h2 class="text-center">Bank Details</h2>
                <!-- {{user| json}} -->

                <form (ngSubmit)="bankAdd()">
                   

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Bank Name*</mat-label>
                        <input [(ngModel)]="bank.bankName" type="text" name="bankName" matInput placeholder="enter the Bank Name">
                    </mat-form-field>

                     <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Accoount Holder Name* </mat-label>
                        <input [(ngModel)]="bank.accountHolderName" type="text" name="accountHolderName" matInput placeholder="enter the Accoount Holder Name">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Account Number*</mat-label>
                        <input [(ngModel)]="bank.accountNumber" type="text" name="accountNumber" matInput placeholder="enter the Account Number">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>IFSC Code*</mat-label>
                        <input [(ngModel)]="bank.ifscCode" type="text" name="ifscCode" matInput placeholder="enter the IFSC Code">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>UPI ID*</mat-label>
                        <input [(ngModel)]="bank.upiId" type="text" name="upiId" matInput placeholder="enter the UPI ID">
                    </mat-form-field>
                   
                    <div class="container text-center">
                    <button type="submit" mat-raised-button color="primary">Add Details</button>
                    <button routerLink="/viewbank" style="margin-left: 20px;" mat-raised-button color="accent">view Details</button>
                </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>