<mat-card>
    
    <mat-action-list class="sidebar">
    
        <div class="sidebutton" mat-subheader >menu</div>
        <button mat-list-item routerLink="/cloth"><mat-icon mat-list-icon>cottage </mat-icon> My Deshboard </button>
        <button mat-list-item routerLink="/profile"><mat-icon mat-list-icon>account_circle</mat-icon> My PROFILE</button>
        <button mat-list-item routerLink="/applicationform"><mat-icon mat-list-icon>assignment</mat-icon> Fill Application form</button>
        <button mat-list-item routerLink="/upload"><mat-icon mat-list-icon>file_upload </mat-icon> Upload Your Document </button>
        <button mat-list-item routerLink="/registration"><mat-icon mat-list-icon>favorite</mat-icon> Shortlist College</button>
        <button mat-list-item ><mat-icon mat-list-icon>payment</mat-icon> Online payment</button>
        <button mat-list-item routerLink="/queiry"><mat-icon mat-list-icon>contact_support </mat-icon> My Quiery </button>
        <button mat-list-item routerLink="/review"><mat-icon mat-list-icon>visibility</mat-icon> My Review</button>
        <button mat-list-item routerLink="/changePassword"><mat-icon mat-list-icon>key</mat-icon> change Password</button>
        <button mat-list-item routerLink="/bank"><mat-icon mat-list-icon>account_balance </mat-icon> Bank Details for cashbank </button>
        <button mat-list-item routerLink="/logout"><mat-icon mat-list-icon>logout</mat-icon> Logout</button>
  
    </mat-action-list>

</mat-card>
