<!-- <h1 style="text-align: center;">Deshboard</h1> -->
<div class="bootstrap-wrapper">
    <div class="container-flude">
        <div class="row">
            <!-- <div class="col-md-2"> -->
                <!-- <app-sidebar></app-sidebar> -->
              
                <!-- <mat-card>
    
                    <mat-action-list class="sidebar">
                    
                        <div mat-subheader >menu</div>
                        <button mat-list-item routerLink="/cloth"><mat-icon mat-list-icon>cottage </mat-icon> My Deshboard </button>
                        <button mat-list-item routerLink="/registration"><mat-icon mat-list-icon>account_circle</mat-icon> My PROFILE</button>
                        <button mat-list-item ><mat-icon mat-list-icon>assignment</mat-icon> Fill Application form</button>
                        <button mat-list-item routerLink="/cloth"><mat-icon mat-list-icon>file_upload </mat-icon> Upload Your Document </button>
                        <button mat-list-item routerLink="/registration"><mat-icon mat-list-icon>favorite</mat-icon> Shortlist College</button>
                        <button mat-list-item ><mat-icon mat-list-icon>payment</mat-icon> Online payment</button>
                        <button mat-list-item routerLink="/cloth"><mat-icon mat-list-icon>contact_support </mat-icon> My Quiery </button>
                        <button mat-list-item routerLink="/registration"><mat-icon mat-list-icon>visibility</mat-icon> My Review</button>
                        <button mat-list-item ><mat-icon mat-list-icon>key</mat-icon> change Password</button>
                        <button mat-list-item routerLink="/cloth"><mat-icon mat-list-icon>account_balance </mat-icon> Bank Details for cashbank </button>
                        <button mat-list-item routerLink="/registration"><mat-icon mat-list-icon>logout</mat-icon> Logout</button>
                  
                    </mat-action-list>
                
                </mat-card> -->
                
            <!-- </div> -->
            <div class="col-md-12">
               <div class="image">
                    <!-- <img src="../../../assets/img.avif" alt=""> -->
                    <h1 style="margin-left:400px ;">Please First signup and login</h1>
               
                </div>

            </div>

        </div>

    </div>

</div>