<div class="bootstrap-wrapper">
    <div class="container-flude">
        <div class="row">
            <div class="col-md-2"> <app-sidebar></app-sidebar></div>


            <div class="col-md-10">
                <div class="col-md-12">
                    <div class="image">
                        <mat-card class="upper">
                            <h1>Application Form</h1>
                        </mat-card>
                        <mat-card>

                            <mat-action-list class="sidebar">

                                <div class="sidebutton" mat-subheader>
                                    <h1>Application Open for PGD (Computer Application)</h1>
                                </div>
                                <div class="row">

                                    <div class="col-md-3">
                                        <h1>Bhagwant Institute of Technology</h1>
                                        <h5>muzaffarnagar</h5>
                                        <button class="ml20" mat-raised-button color="primary">view detail</button>
                                        <button routerLink="/applynow" class="ml20" mat-raised-button
                                            color="accent">apply now</button>
                                    </div>
                                    <div class="col-md-3">
                                        <h1>Guru Kasi University</h1>
                                        <h5>Bathinda</h5>
                                        <button class="ml20" mat-raised-button color="primary">view detail</button>
                                        <button routerLink="/applynow" class="ml20" mat-raised-button
                                            color="accent">apply now</button>
                                    </div>
                                    <div class="col-md-3">
                                        <h1>purvanchal University</h1>
                                        <h5>jaunpur</h5>
                                        <button class="ml20" mat-raised-button color="primary">view detail</button>
                                        <button routerLink="/applynow" class="ml20" mat-raised-button
                                            color="accent">apply now</button>
                                    </div>
                                    <div class="col-md-3">
                                        <h1>BHU University</h1>
                                        <h5>Banaras</h5>
                                        <button class="ml20" mat-raised-button color="primary">view detail</button>
                                        <button routerLink="/applynow" class="ml20" mat-raised-button
                                            color="accent">apply now</button>
                                    </div>
                                </div>

                            </mat-action-list>

                        </mat-card>
                    </div>
                </div>

                    </div>

                </div>

            </div>